<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application}">
<body>
  <div layout:fragment="body" class="container mx-auto w-96 mt-8 px-8 py-4 bg-gray-100">
    <div class="text-4xl text-center my-2">ログイン</div>

    <form action="/login" method="post">
      <label for="login_id" class="mt-4">ユーザーID</label>
      <input type="text" name="login_id" id="login_id"
             th:value="${login_id}" class="p-1 border-gray-300 w-full">

      <label for="password" class="mt-4">パスワード</label>
      <input type="password" name="password" id="password"
             th:value="${password}" class="p-1 border-gray-300 w-full">

      <div class="grid grid-cols-2 gap-4">
        <input type="submit" value="ログイン"
               class="cursor-pointer p-2 my-8 text-center rounded bg-blue-500 hover:bg-blue-300 text-white"/>
        <a href="/users/new"
           class="cursor-pointer p-2 my-8 text-center rounded bg-green-500 hover:bg-green-300 text-white">
          新規ユーザー
        </a>
      </div>
    </form>
  </div>
</body>
</html>
